*{
    margin: 0;
    padding: 0;

}
body{
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* -------------------navBar-------------- */
.nav{
    width:1000px;
    border:2px solid white;
    background-color: white;
    border-style: none;
    margin :0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top:0;
    right:0;
    left:0;
}
 .menu{
    width:1000px;
    border-top:1px solid lightgrey;
    background-color: white;
    padding:20px;
    position: fixed;
    top:-33px;
    right:0;
    left:0;
} 
.menu{
    margin: 100px auto 0;
    display: flex;
    justify-content:space-between;

    
}
.menu{
     color:#ccc;
     
}
.m1:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    color:black;
    cursor: pointer;
}
.m2:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    color:black;
    cursor: pointer;
}
.m3:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    color:black;
    cursor: pointer;
}
.m4:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    color:black;
    cursor: pointer;
}
.m5:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    color:black;
    cursor: pointer;
}
.m6:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    color:black;
    cursor: pointer;
}
.m2-img{
    margin: 0px 32px ;
   
   
}
.m3-img{
    margin: 0px 18px;
}
.m5-img{
    margin: 0px 16px;
}
.m6-img{
    margin: 0px 30px;
}
.menu p{
    font-size: small;
    
}

.m1:active{
    border-bottom: 3px solid black;
    color:black;
    cursor: pointer;
}
.m2:active{
    border-bottom: 3px solid black;
    cursor: pointer;
    color:black;
}
.m3:active{
    border-bottom: 3px solid black;
    cursor: pointer;
    color:black;
}
.m4:active{
    border-bottom: 3px solid black;
    cursor: pointer;
    color:black;
}
.m5:active{
    border-bottom: 3px solid black;
    cursor: pointer;
    color:black;
}
.m6:active{
    border-bottom: 3px solid black;
    cursor: pointer;
    color:black;
}

.nav input{
    width:270px;
    border-style:none ;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding:15px;
}
.search-in{
    position: relative;
}
.search-logo{
    position: absolute;
    top:7px;
    right:10px;
}
.search-logo{
    width:16px;
    border:1px solid lightgrey;
    border-radius:50%;
    padding:8px;
    display: flex;
    justify-content: center;
    background-color: #FF395C;
    color:white;
    
}
.search-logo:hover{
    cursor: pointer;
}
.btn{
    width:150px;
    border-style:none;
    background-color: white;
    border:1px solid red;
    border-style: none;
    border-radius: 30px;
    padding:15px;
    font-weight: bold;
}
.btn:hover{
    border:1px solid rgba(211, 211, 211, 0);
    background-color: rgba(211, 211, 211, 0.278);
    cursor: pointer;
}
.nav input:hover{
    
    box-shadow:0 2px 5px 0 lightgray;
    cursor: pointer;
}
.global-logo{
    width:18px;
    border:1px solid rgba(211, 211, 211, 0.263);
   
    border-radius:9px;
    padding: 8px;
    border-style: none;
    display: flex;
    justify-content: center;
}




.global-logo:hover{
    width:18px;
    border:1px solid rgba(211, 211, 211, 0.263);
    background-color: rgba(211, 211, 211, 0.263);
    border-radius:50%;
    padding: 8px;
    cursor: pointer;
}
.menu-login{
    border-style:none;
    width: 80px;
    border:2px solid rgba(211, 211, 211, 0.263);
    background-color:white;
    padding:10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.menu-login:hover{
    box-shadow: 1px 1px 4px 4px rgba(211, 211, 211, 0.263);
   
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  


.search{
    width:800px;
    border:1px solid lightgray;
    border-radius: 20px;
    padding: 15px 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    margin:190px auto 0;
}
.search span{
    color:gray;
}
.search strong {
    font-size: large;
}
.search label{
    font-size: 20px;
    font-weight: lighter;
    color:gray;
}

.box{
    width: 270px;
    border: 1px solid gray;
    border-radius: 10px;
    margin :50px auto;
    padding: 10px;
    border-style: none;
}
.img{
    width: 100%;
    border-radius: 10px;
}


.star{
    width: 20px; height: 20px;
    
}

.para p{
    color: gray;
    
}

.para-last{
    margin-top: 10px;
}
.para{
    display: flex;
    justify-content:space-between;
    
}
.rating{
    display: flex;
    
    gap:5px;
}
.r-rated{
    padding-top: 2px;
}
.s1{
    display: flex;
    flex-wrap:wrap;
}


.map{
    width:200px;
    border-style:none;
    border: 1px solid black;
    background-color: black;
    color:white;
    border-radius:100px ;
    padding: 20px;
    display: flex;
    justify-content:center ;
    gap: 15px;
    align-items: center;
    
}
.map-name{
  font-size: larger; 
}
.map{
    
    position: fixed;
    bottom: 150px;
    right: 724px;
   
    
}
.maplogo{
    margin-top: 7px;
}
.map:hover{
    box-shadow:0 0 20px #666666;
    cursor: pointer;
}

.footer{
    width:1600px;
    margin:10px auto;
    border-top:1px solid lightgrey ;
    background-color: white;
    padding:50px;
    position:fixed ; 
    bottom: -10px;

}
.foot-l{
    display: flex;
    gap:10px;
    
    
}
.foot-r{
    display:flex;
    justify-content: end;
    gap:15px;

}
.L-Rfoot{
    
        display: flex;
        justify-content: space-between;
}

.para1:hover{
    cursor: pointer;
}
.para3:hover{
    cursor: pointer;
}
.para5:hover{
    cursor: pointer;
}
.para7:hover{
    cursor: pointer;
}
.para9:hover{
    cursor: pointer;
}
.para11:hover{
    cursor: pointer;
}


.para-r-1{
    cursor: pointer;
}
.para-r-2{
    cursor: pointer;
}
.para-r-3{
    cursor: pointer;
}
.para-r-4{
    cursor: pointer;
}
.para-r-5{
    cursor: pointer;
}
.para-r-6{
    cursor: pointer;
}
